# Xcode
.DS_Store
xcuserdata/
*.xcuserstate
project.xcworkspace/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
*.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code Coverage
*.xcresult/

# Environment variables
.env

# Config files containing sensitive data
Config.plist
SaglamMovie/Configuration/Config.plist

