<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>1da7b017e598fe6e6d595dca1136d30c</string>
	<key>API_TOKEN</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxZGE3YjAxN2U1OThmZTZlNmQ1OTVkY2ExMTM2ZDMwYyIsIm5iZiI6MTczMjE0NTQxMi4yOTA4NzU3LCJzdWIiOiI2MmJiOWI1ZDhiOTU5ZTAwOTNlZjY2NjMiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.uElp-VDMUiNo16MNds2dM2td3jqJkUIbvDPW7GpAIf8</string>
</dict>
</plist>
